*{
	padding:0px;
	margin:0px;
	font-size: 28px;
}
#wrapper-div{
	width:100%;
	background-color: blue;
	height: 100%;
	color: #fff;
	position: fixed;
}
#content-div{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto 2fr;
	grid-gap: 20px;

	width:60%;
	background-color: orange;
	height: auto;
	color: #fff;
	margin: 0 auto;
}


#form-wrapper{
	position:fixed;
	z-index: 1;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(240,240,240,0.9);
}

#form-div{
	background-color: #fff;
    margin: 15% auto;
    padding: 60px 10%;
    width: 50%;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

.grid{
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 3fr 1fr 1fr 2fr;
	grid-auto-rows: 450px;
	grid-gap: 20px;
	
}

.full{
	grid-column-start: 1;
	grid-column-end: -1;
}

.user-info{
	width:100%;
	height: 40px;
	padding-left: 6px;
	padding-top: 2px;
	border:none;
	font-size: 28px;
	border-bottom: 2px royalblue solid;
	outline: none;
}
.user-info:focus{
	border-color: darkorange;
}

#sign-up{
	width:100%;
	height:100%;
	background-color: royalblue;
}
#sign-in{
	background-color: darkorange;
	width:100%;
	height:100%;
}